.form{
	display: flex;
}
label{
	display: flex;
	margin: 10px;
	align-items: center;
	justify-content: space-between;
}
.submit{
	border: solid black 1px;
  border-radius: 5px;
  background-color: cadetblue;
}
.input{
	margin-left: 10px;

}