.App {
  text-align: center;
}

.transformation{
  display: flex;
  align-items: center;
  margin: 40px;
  justify-content: space-between;
}
.sources{
  display: flex;
  flex-direction: column;
}
.actions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
p{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}